@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- Page container -->

<div class="text-center">
    <h1>This page using jwt,</h1>
    <h5>Dummy Username = "test" and Password = "test" <br />
    <small>EnterYourCredentials to main page</small></h5>
</div>
<div class="form-group">
    @Html.TextBox("Username", Model.Username, new { @id = "txtUsername", @autocomplete = "off", @class = "form-control input-xs", placeholder = "Username", autofocus = "True" })
    <div>
        <i class="text-muted"></i>
    </div>
</div>
<br />
<div class="form-group">
    @Html.TextBox("Password", Model.Password, new { @id = "txtPassword", @autocomplete = "off", @class = "form-control input-xs", placeholder = "Password", type = "password" })
    <div>
        <i class="text-muted"></i>
    </div>
</div>
<br />
<div class="form-group">
    <button type="submit" class="btn btn-primary btn-block" onclick="login()">Login</button>
</div>

<br />
<div id="dvPostItems" style="font-size:24px;">
    <h3>Added feature</h3>

    <ul>
        <li>
            CRUD Transaction Save
        </li>
    </ul>
</div>

<script type="text/javascript">

    function login() {
        var test = {}
        test.Username = $("#txtUsername").val();
        test.Password = $("#txtPassword").val();
        $.ajax({
            type: "POST",
            url: "http://localhost:4000/api/Users/Authenticate",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify(test),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var resData = response;
                sessionStorage.setItem('Token',
                    JSON.stringify(resData['Token'])
                );
                if (resData['Token'] != null) {
                    window.location.href = '/Main/InvoicePaging';
                }

            },
            failure: function (response) {
                alert(response);
            }
        });
        //
    }


</script>